exportPattern("^[[:alpha:]]+")
import("circular")
import("NPCirc")
import("rgl")
importFrom("Directional","vmf.kerncontour","sphereplot","euclid","euclid.inv")
importFrom("movMF","dmovMF","rmovMF")
importFrom("graphics", "legend")
importFrom("stats", "approx", "dist", "optimize", "rnorm", "qnorm", "quantile","uniroot")
importFrom("grDevices","colorRampPalette")
export(circ.scatterplot,circ.plugin.hdr,circ.hdr,circ.distances,circ.boot.bw,sphere.scatterplot,sphere.plugin.hdr,sphere.hdr,sphere.distances,sphere.boot.bw,rspheremix,dspheremix)




